body{
    background-color: rgb(203, 163, 210);
}

footer{
    text-align: center;
    margin-right: 200px;
}

h1{
    text-align: center;
    font-size: 35px;
    color: rgb(31, 0, 60);
}

h2{
    text-align: center;
    font-size: 25px;
    color: rgb(31, 0, 60);
}

img{
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

p{
    font-size: 15px;
    text-align: center;
    color: rgb(62, 23, 89);
}